@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url('images/bg.png');
    font-family: "Roboto", sans-serif;
    background-size: cover;
    min-height: 110vh;
    background-position: center center;
    margin: 0;
}

aside  {
    height: 100vh;
    background-color: #000;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
aside ul {
    padding: 0;
    list-style-type:none;
}
aside a {
    color: white;
    text-decoration: none;
    margin:1rem;

}